<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TransmissionHost</key>
	<string></string>
	<key>TransmissionRPCPath</key>
	<string>/transmission/rpc/</string>
	<key>TransmissionUsername</key>
	<string></string>
	<key>TransmissionPassword</key>
	<string></string>
</dict>
</plist>
